body{
    background-image: url(../imagenes/fondo.png);
    background-color: #D0D8E9;
    color: #3B5998;
    font-family: tahoma;
    font-size: 0.85em;
}
header{
    text-align: center;
}
.negrita{
    font-weight: bold;
}
.sub{
    text-decoration: underline;
}
.cursiva{
    font-style: italic;
}
section{
    text-align: center;
}
footer{
    text-align: center;
    font-style: italic;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #3B5998;
}
a:visited{
    color: #3B5998;
}
.Ejercicios p{
    font-style: italic;
}